/node_modules
/.gradle
/.idea
/build
/package-lock.json
/Mirror-to-MEDQC-UNKNOWA.bat
/Mirror-OVERWRITE-FROM-UNKNOWA.bat
/Mirror-OVERWRITE-FROM-MEDQC.bat
/Mirror-to-MEDQC-VUSDATA.bat
/Mirror-to-ACTIVE-APPS.bat
/ZZZ_Mirror-OVERWRITE-FROM-MEDQC.bat
/List-circular-dependencies.bat
/Mirror-to-MEDQC-ONLY.bat
