/**
 Not standalone - needs the vars-material-xxx.scss to be imported before this
 Requires:
 $app_font_size_regular
 */


$N2Button: 'N2Button';
.#{$N2Button}.e-btn, .#{$N2Button}.e-css.e-btn,
.N2DropDownButton.e-btn, .N2DropDownButton.e-css.e-btn
{
  font-size: $app_font_size_regular;
  text-transform: unset !important;
}