$N2Carousel : 'N2Carousel';

.#{$N2Carousel}.e-carousel .e-carousel-navigators .e-previous .e-btn:not(:disabled) .e-btn-icon,
.#{$N2Carousel}.e-carousel .e-carousel-navigators .e-next .e-btn:not(:disabled) .e-btn-icon,
.#{$N2Carousel}.e-carousel .e-carousel-navigators .e-play-pause .e-btn:not(:disabled) .e-btn-icon {
  color: black;
}

.#{$N2Carousel}.e-carousel .e-carousel-navigators .e-previous .e-btn:not(:disabled),
.#{$N2Carousel}.e-carousel .e-carousel-navigators .e-next .e-btn:not(:disabled),
.#{$N2Carousel}.e-carousel .e-carousel-navigators .e-play-pause .e-btn:not(:disabled) {
  background-color: rgb(200, 200, 200, 0.30); // 30% opaque by default
}

/**
Non-active round indicators under the carousel
 */
.#{$N2Carousel}.e-carousel .e-carousel-indicators .e-indicator-bar:not([class*="e-active"]) .e-indicator div {
  background-color: rgba(200, 200, 200, 0.90);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.#{$N2Carousel}.e-carousel .e-carousel-indicators {
  min-height: 24px;
}