@use 'tippy-common' with (
  $tippy-bg-color: #55552e,
  $tippy-font-color: #FFFFED,
  $tippy-border-color: var(--grid-header-border-color),
  $tippy-arrow-fill: #7b7b7b, // lighten(#616161, 10%) = #7b7b7b (approx)
);