// Custom Material theme colors for this app
$primary: #37474f; /* rgba(55,71,79,1); */
$primary-font: #fff;
$accent: #10669F; /* #094E84 !default; #2174af; #1277bf; rgba(18,119,191,1); */
$accent-font: #fff;



@import 'vars-material-common.scss'; // variable :root definitions