// declare EJ2 variables common to both light and dark themes (no changes just variable declarations)
// included here so the scss is compiled and available to vars-ej2-common.ts to create CSS_VARS_EJ2 values
//----------Define the custom material theme colors for this app ----------
$primary: #37474f; /* rgba(55,71,79,1); */
$primary-font: #fff;
$accent: #10669F; // #16a2ff; // lighter #10669F;
$accent-font: #fff;

// current folder is 'css' so we need to back up one folder first (in application that extends nexus-code-browser, and compiles with vitejs)
@font-face {
  font-family: 'Roboto-Regular';
  //noinspection CssUnknownTarget
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}