// declare EJ2 variables common to both light and dark themes (no changes just variable declarations)
// included here so the scss is compiled and available to vards-ej2-common.ts to create CSS_VARS_EJ2 values

// current folder is 'css' so we need to back up one folder first
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$app_font_size_base_number: 12 !default; // integer

// material overrides - items common to both light and dark themes
$grey-dark: #303030 !default;
$font-size: #{$app_font_size_base_number}px;
$btn-font-size: $font-size;
$drop-down-btn-font-size: $font-size;
$drop-down-btn-icon-font-size: $font-size;


// ---------------- application variables definitions ----------------


$app_font_main: 'Roboto-Regular';
$app_font_family: $app_font_main, sans-serif !default;
$font-family: $app_font_family !default;
$app_font_size_regular: #{$app_font_size_base_number}px !default;
$app_font_size_minus_1: #{$app_font_size_base_number - 1}px !default;
$app_font_size_minus_2: #{$app_font_size_base_number - 2}px !default;
$app_font_size_plus_1: #{$app_font_size_base_number + 1}px !default;
$app_font_size_plus_2: #{$app_font_size_base_number + 2}px !default;
$app_font_size_label: #{$app_font_size_base_number - $app_font_size_base_number  * 0.125 }px !default; // $app_font_size_base_number(1 - 0.125)
$app_font_size_header: #{$app_font_size_base_number + $app_font_size_base_number * 0.125 }px !default; // $app_font_size_base_number(1 + 0.125)
$app_font_size_section_title: #{$app_font_size_base_number+ $app_font_size_base_number * 0.1875 }px !default; // $app_font_size_base_number(1 + 0.1875)

$app-dialog-header-font-color: white !default;
$app-dialog-header-background-color: black !default;

$app_color_green: #087b3e !default;
$app_color_blue: $accent; // #2174af !default; // #0f5b91; // #1277BF;
$app_color_link_blue: #1e90ff !default; // dodgerblue
$app_color_cyan: #03E0DF !default;
$appColorLightGray001: #E9E9E9 !default;

//$app_grid_line_color: #EDEDED;


$app-gray-input-background: #F3F3F3 !default;

$app-light-background: #a5d4f6 !default;
$app-bright-red: #E1251B !default;

$app-label-color-coolgray: #616161 !default; //#B1B1B1;
$app_color_gray_text1: #a3a3a3;
$app_color_gray_text2: #b3b3b3;
$app_color_gray_text3: #c3c3c3;

$app_color_gray_50: #fafafa;
$app_color_gray_100: #f5f5f5;
$app_color_gray_200: #eee;
$app_color_gray_300: #e0e0e0;
$app_color_gray_400: #bdbdbd;
$app_color_gray_500: #9e9e9e;
$app_color_gray_600: #757575;
$app_color_gray_700: #616161;
$app_color_gray_800: #424242;
$app_color_gray_900: #212121;
$app_color_gray_dark: #303030;


$app-header-text-color-dark-gray: #4D4D4D !default;
$app_header_text_color_dark_green: #6C7E7F !default;
$app-row-disabled-background-color-lightgray: #E6E6E6 !default;

$app-filter-text-background-color: #F2F8FF !default; //lighten($app-light-background, 16%) !default;
$app-dashboard-button-text-color: white !default;
$app-dashboard-button-background-color: $app_color_blue !default; // #171d20; // was $primary-100;
$app-widget_spacing: 10px !default;
$app_nav_band_background: #2174af !default;
$app-text-highlight-warn-background-color: lighten($app-bright-red, 10%) !default;
$app-text-highlight-warn-text-color: white !default;

$app_color_red_01: #E1251B !default;
$app_color_red_02: #FDF4F4 !default; // very light red for backgrounds
$app_color_yellow_01: #fefe4c !default;
$app_color_yellow_02: #FFFFE0 !default; // very light yellow for backgrounds
$app_color_yellow_03: #fcfcb3 !default; // light yellow for backgrounds
$app_color_yellow_04: #ffd43b !default;
$app_color_green_01: #087b3e !default;
$app_color_green_02: #E9FEF3 !default; // very light green for backgrounds
$app_color_green_03: #92D050 !default; // light green for backgrounds
$app_color_blue_01: #2174af !default;
$app_dialog_header_close_button_size: 18; // integer size of the dialog close (x) button on the upper right of a dialog header

$app_custom_excel_filter_width_number: 18 !default; // size of the filter icon and div around it. Also used for the sort div in the header (same size)

:root {
  --material-primary-color: #{$primary};
  --material-primary-font-color: #{$primary-font};
  --material-accent-color: #{$accent};
  --material-accent-font-color: #{$accent-font};
  --grey-dark: #{$grey-dark};

  --app-color-panel-background: #{$app-color-panel-background};
  --app-island-background-color: #{$island-background-color}; // light and dark versions exist


  --app-label-color: #{$app-label-color};
  --app-text-color: #{$app-text-color};
  --app-button-bgcolor: #{$app-button-bgcolor};
  --app-button-color: #{$app-button-color};
  --app-button-color-accent: #{$app-button-color-accent};


  --app-font-main: #{$app_font_main};
  --app-font-family: #{$app_font_family};
  --font-family: #{$font-family};
  --app-font-size-base-number: #{$app_font_size_base_number}px;
  --app-font-size-regular: #{$app_font_size_regular};
  --app-font-size-minus-1: #{$app_font_size_minus_1};
  --app-font-size-minus-2: #{$app_font_size_minus_2};
  --app-font-size-plus-1: #{$app_font_size_plus_1};
  --app-font-size-plus-2: #{$app_font_size_plus_2};
  --app-font-size-label: #{$app_font_size_label};
  --app-font-size-header: #{$app_font_size_header};
  --app-font-size-section-title: #{$app_font_size_section_title};
  --app-dialog-header-font-color: #{$app-dialog-header-font-color};
  --app-dialog-header-background-color: #{$app-dialog-header-background-color};
  --app-color-green: #{$app_color_green};
  --app-color-blue: #{$app_color_blue};
  --app-color-link-blue: #{$app_color_link_blue};
  --app-color-cyan: #{$app_color_cyan};
  --app-color-light-gray-001: #{$appColorLightGray001};
  //--app-grid-line-color: #{$app_grid_line_color};
  --app-gray-input-background: #{$app-gray-input-background};
  --app-light-background: #{$app-light-background};
  --app-bright-red: #{$app-bright-red};
  --app-label-color-coolgray: #{$app-label-color-coolgray};
  --app-color-gray-text1: #{$app_color_gray_text1};
  --app-color-gray-text2: #{$app_color_gray_text2};
  --app-color-gray-text3: #{$app_color_gray_text3};

  --app-color-gray-50: #{$app_color_gray_50};
  --app-color-gray-100: #{$app_color_gray_100};
  --app-color-gray-200: #{$app_color_gray_200};
  --app-color-gray-300: #{$app_color_gray_300};
  --app-color-gray-400: #{$app_color_gray_400};
  --app-color-gray-500: #{$app_color_gray_500};
  --app-color-gray-600: #{$app_color_gray_600};
  --app-color-gray-700: #{$app_color_gray_700};
  --app-color-gray-800: #{$app_color_gray_800};
  --app-color-gray-900: #{$app_color_gray_900};
  --app-color-gray-dark: #{$app_color_gray_dark};

  --app-header-text-color-dark-gray: #{$app-header-text-color-dark-gray};
  --app-header-text-color-dark-green: #{$app_header_text_color_dark_green};
  --app-row-disabled-background-color-lightgray: #{$app-row-disabled-background-color-lightgray};
  --app-filter-text-background-color: #{$app-filter-text-background-color};
  --app-dashboard-button-text-color: #{$app-dashboard-button-text-color};
  --app-dashboard-button-background-color: #{$app-dashboard-button-background-color};
  --app-widget-spacing: #{$app-widget-spacing};
  --app-nav-band-background: #{$app_nav_band_background};
  --app-text-highlight-warn-background-color: #{$app-text-highlight-warn-background-color};
  --app-text-highlight-warn-text-color: #{$app-text-highlight-warn-text-color};
  --app-color-red-01: #{$app_color_red_01};
  --app-color-red-02: #{$app_color_red_02};
  --app-color-yellow-01: #{$app_color_yellow_01};
  --app-color-yellow-02: #{$app_color_yellow_02};
  --app-color-yellow-03: #{$app_color_yellow_03};
  --app-color-yellow-04: #{$app_color_yellow_04};
  --app-color-green-01: #{$app_color_green_01};
  --app-color-green-02: #{$app_color_green_02};
  --app-color-green-03: #{$app_color_green_03};
  --app-color-blue-01: #{$app_color_blue_01};
  --app-dialog-header-close-button-size: #{$app_dialog_header_close_button_size};
  --app-custom-excel-filter-width-number: #{$app_custom_excel_filter_width_number}px;
}

//-- start dismantling excel filter settings that should never have been set in the first place --/
.e-contextmenu-wrapper ul, .e-contextmenu-container ul {
  font-size: #{$app_font_size_base_number}px !important;
}

.e-excel-menu.e-contextmenu.e-menu-parent {
  max-height: unset !important;
  overflow-y: unset !important;
}

//--- end excel filter correcting settings ------